html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
}

a:hover {
  color: #ff8000;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: #203040;
  color: #fff;
  padding: 0.5rem;
}

header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  grid-area: main;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #203040;
  color: #fff;
}
